/*common*/
.hide { display: none; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }

.mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; background-color: #000; opacity: 0.8; }
.modal { position: fixed; top: 100px; left: 0; right: 0; z-index: 999; }

.text-bold{ font-weight: bold !important; }
.text-disable{ color: #646464 !important; }

.scroll { overflow: scroll !important; }

/*::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track-piece { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #666; -webkit-border-radius: 4px; }*/

/*main*/
body { background-color: #000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 100%; }
.container { position: relative; margin: 0 auto; width: 100%; }
.header { position: relative; width: 100%; height: 71px; text-align: center; background: url(../img/main/header.png) no-repeat; background-size: 100% 100%; }
	.header img { margin-top: 5px; height: 60px;}
	.button-signin { position: absolute; width: 80px; height: 30px; top: 30px; right: 60px; border: 0; padding: 0; color: #fff; font-size: 12px; font-weight: bold; line-height: 30px; background: url(../img/main/button-signin.png) no-repeat; background-size: 100% 100%; }
	.button-setting { position: absolute; width: 30px; height: 30px; top: 30px; right: 20px; border: 0; padding: 0; background: url(../img/main/button-setting.png) no-repeat; background-size: 100% 100%; }
.section { position: relative; width: 100%; height: 322px; overflow: hidden; background: url(../img/main/section.png) no-repeat; background-size: 100% 100%; }
	.section .section-control { position: absolute; height: 285px; width: 50px; top: 35px; line-height: 280px; font-size: 100px; font-weight: 100; text-align: center; color: #fff; opacity: 0.5; cursor: pointer; }
	.section .section-control.left {left: 0px;}
	.section .section-control.right {right: 0px;}
	.section .section-control:hover, .section-control:focus { color: #fff; opacity: 0.9; }
	.section-header { margin: 11px 20px; color: #999; font-size: 12px; font-weight: bold; }
	.section .section-list-container { position: relative; width: 100%; height: 285px; overflow: hidden; -webkit-overflow-scrolling: touch; }
	.section-list { position: relative; }
	.section-list li { position: relative; float: left; height: 100%; width: 240px; background: url(../img/main/light.png) no-repeat; background-position: center; background-size: 80% 100%; }
		.section-list .book-thumb { margin: 50px 0 20px; height: 156px; text-align: center; }
			.section-list .book-thumb img { height: 100%; cursor: pointer; }
		.section-list .book-lock { position: absolute; top: 50px; height: 156px; width: 100%; text-align: center; }
			.section-list .book-lock img { height: 100%; cursor: pointer; }
		.section-list .book-label, .section-list .book-date { margin: 5px; text-align: center; color: white; font-size: 12px; }
.button-submit { width: 80px; height: 30px; border: 0; font-size: 12px; font-weight: bold; color: #3399ee; background: url(../img/main/button-signin.png) no-repeat; background-size: 100% 100%; border-radius: 5px; }

/*modal*/
.modal-container { position: relative; margin: 0 auto; }
	.modal-header { height: 40px; color: #fff; line-height: 40px; background: url(../img/signin/modal-header.png) repeat; background-size: auto 100%; border-top-left-radius: 5px; border-top-right-radius: 5px; }
		.modal-header h1 { text-align: center; color: #fff; font-size: 16px; font-weight: bold; }
		.modal-header button { position: absolute; top: 7px; height: 26px; width: 50px; border: 0; padding: 0; color: #fff; font-size: 13px; font-weight: bold; line-height: 26px; border-radius: 5px; box-shadow:1px 1px 1px #000 inset; background: url(../img/main/button-signin.png) no-repeat; background-size: 100% 100%; }
		.modal-header .button-left { left: 20px; }
		.modal-header .button-right { right: 20px; }
	.modal-body { text-align: center; background: url(../img/main/modal-body.png) no-repeat; background-size: 100% 100%; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
	.modal-text { text-align: center; color: #fff; font-size: 12px; line-height: 13px; }

/*product*/
#product { width: 720px; height: 480px; overflow: hidden;}
	#product .modal-body { height: 400px; padding-top: 40px; }
		#product .modal-body .part-container { position: relative; width: 200%; height: 100%; }
		#product .modal-body .part-container.part-next-show { left: -720px; }
			#product .modal-body .part-container .part { margin: 0 40px; width: 300px; text-align: left;}
			#product .modal-body .part-container .part.part-request { width: 640px; text-align: center; }
			#product .modal-body .part-container .part.part-carousel { width: 640px; text-align: center; }
				#product .modal-body .part-container .part .part-wall { width: 100%; }
				#product .modal-body .part-container .part .part-thumbnail { width: 100%; margin-top: 20px; overflow: hidden; }
					#product .modal-body .part-container .part .part-thumbnail li { float: left; width: 100px; text-align: center; }
						#product .modal-body .part-container .part .part-thumbnail li img { height: 70px; cursor: pointer; }
						#product .modal-body .part-container .part .part-thumbnail li p { color: #fff; font-size: 12px; margin-top: 10px; }
				#product .modal-body .part-container .part h1 { margin-top: -5px; height: 60px; color: #fff; font-size: 24px; font-weight: bold; }
				#product .modal-body .part-container .part .part-description { margin-top: 10px; height: 163px; border: 1px solid #fff; overflow: hidden; -webkit-overflow-scrolling: touch; }
				#product .modal-body .part-container .part iframe { width: 100%; height: 100%; border: none; }
				#product .modal-body .part-container .part .part-text { margin: 15px 0; color: #39e; font-size: 16px; }
				#product .modal-body .part-container .part .button-request { height: 30px; width: 130px; color: #39e; font-size: 15px; font-weight: bold; line-height: 30px; cursor: pointer; background: url(../img/main/button-signin.png) no-repeat; background-size: 100% 100%; border: 0; border-radius:5px; }
				
				#product .modal-body .part-container .part.part-request ul { margin: 20px auto 0; width: 600px; }
					#product .modal-body .part-container .part.part-request ul li{ height: 50px; }
						#product .modal-body .part-container .part.part-request ul li input { width: 280px; height: 25px; color: #000; font-size: 14px; text-indent: 10px; border-radius: 5px; }

				#product .modal-body .part-container .part.part-carousel .part-carousel-container { position: relative; margin-bottom: 20px; height: 360px; }
					#product .modal-body .part-container .part.part-carousel .part-carousel-inner { position: relative; width: 100%; overflow: hidden; }
						#product .modal-body .part-container .part.part-carousel .part-carousel-inner .part-item-container  { position: relative; }
							#product .modal-body .part-container .part.part-carousel .part-carousel-inner .part-item { width: 640px; float: left; }
								#product .modal-body .part-container .part.part-carousel .part-carousel-inner .part-item img { margin: 0 auto; height: 320px; display: block; }
					#product .modal-body .part-container .part.part-carousel .part-carousel-control { position: absolute; top: 150px; width: 40px; height: 40px; font-size: 100px; font-weight: 100; line-height: 40px; color: #fff; text-align: center; opacity: 0.5; cursor: pointer; }
					#product .modal-body .part-container .part.part-carousel .part-carousel-control:hover, .part-carousel-control:focus { color: #fff; opacity: 0.9; }
					#product .modal-body .part-container .part.part-carousel .part-carousel-indicators { position: absolute; width: 100%; bottom: 0; list-style: none; }
						#product .modal-body .part-container .part.part-carousel .part-carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin-left: 5px; background-color: #ccc; opacity: 0.3; border-radius: 5px; }
						#product .modal-body .part-container .part.part-carousel .part-carousel-indicators li.active { background-color: #fff; opacity: 1; }

/*signin*/
#signin { width: 600px; height: 370px; }
	#signin .modal-body { height: 300px; padding-top: 30px; }
		#signin .modal-body ul { margin: 0 auto; width: 380px; text-align: left; }
			#signin .modal-body ul li input { margin-bottom: 20px; width: 280px; height: 25px; color: #000; font-size: 14px; text-indent: 10px; border-radius: 5px; }

/*setting*/
#setting { width: 500px; height: 310px; }
	#setting .modal-body { height: 240px; padding-top: 30px; }