/*common*/
.hide { display: none; }
.fl { float: left; }
.fr { float: right; }
.mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; background-color: #000; opacity: 0.8; }

/*main*/
body { background-color: #000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.container { position: relative; margin: 0 auto; width: 1024px; }
.header { position: relative; width: 1024px; height: 71px; background: url(../img/main/header.png) no-repeat; background-size: 100% 100%; }
	#button-signin { position: absolute; cursor: pointer; width: 80px; height: 30px; top: 30px; right: 60px; border: 0; padding: 0; color: #fff; font-size: 12px; font-weight: bold; line-height: 30px; background: url(../img/main/button-signin.png) no-repeat; background-size: 100% 100%; }
	#button-setting { position: absolute; cursor: pointer; width: 30px; height: 30px; top: 30px; right: 20px; border: 0; padding: 0; background: url(../img/main/button-setting.png) no-repeat; background-size: 100% 100%; }
.section { width: 1024px; height: 322px; overflow: hidden; background: url(../img/main/section.png) no-repeat; background-size: 100% 100%; }
	.section-header { margin: 10px 0 0 20px; color: #999; font-size: 12px; font-weight: bold; }

/*modal*/
.modal {
	position: fixed;
	z-index: 100;
	top: 50px;
	border-radius: 5px;
}

